.rotate {
    position: absolute;
    -webkit-animation: spin 4s linear infinite;
    -moz-animation: spin 4s linear infinite;
    animation: spin 24s linear infinite;
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.levitating-element {
    animation: levitate 6s ease-in-out infinite;
}

@keyframes levitate {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}

.levitating-element2 {
    animation: levitate2 5s ease-in-out infinite;
}

@keyframes levitate2 {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-10px);
    }
    100% {
        transform: translateX(0);
    }
}


/**************************\
  animação texto se movendo - about
\**************************/

// .marquee {
//     z-index: 1;
//     width: 100%;
//     height: 104px;


//     justify-content: flex-start;
//     align-items: center;
//     margin-top: 0;
//     margin-bottom: 0;
//     font-size: 1.25rem;
//     display: flex;
//     position: relative;
//     overflow: hidden;

//     margin-top: $gutter * 6;

//     &__flex {
//         align-items: center;
//         font-size: 10px;
//         display: flex;
//     }

//     &__icon {
//         margin-right: 94px;
//     }

//     &__text {
//         color: $gray-01;
//         text-transform: uppercase;
//         flex: none;
//         margin-right: 8vw;
//         font-size: 1.4em;
//         font-weight: 500;
//         line-height: 145%;
//     }

//     &::after,
//     &::before {
//         max-height: 430px;
//         content: "";
//         position: absolute;
//         top: 0;
//         height: 100%;
//         width: 10%;
//         z-index: 1;
//     }

//     &::before {
//         background: linear-gradient(90deg, $gray-light 3.59%, transparent);
//         left: 0;
//     }

//     &::after {
//         background: linear-gradient(-90deg, $gray-light 3.59%, transparent);
//         right: 0;
//     }

//     &:hover {
//         .track {
//             animation-play-state: paused;
//         }
//     }
// }

.track {
    justify-content: flex-start;
    align-items: center;
    display: flex;
    position: absolute;
    white-space: nowrap;
    will-change: transform;
    animation: marquee-right 40s linear infinite;
}

@keyframes marquee-right {
    from {
        transform: translateX(-50%);
    }

    to {
        transform: translateX(0%);
    }
}
