@font-face {
    font-family: "Arkhip";
    src: url("../fonts/Arkhip-Regular.otf") format("truetype"); /* Substitua com o caminho correto para o seu arquivo de fonte */
    /* Adicione outros formatos se necessário (por exemplo, woff, woff2) */
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    list-style: none;
    text-decoration: none;

    // font-family: "Rubik", sans-serif;
    font-family: "Barlow", sans-serif;
}

img {
    max-width: 100%;
    height: auto;
}

html {
    font-size: 65.5%;
    overflow-x: hidden;
    // background: radial-gradient(circle at 3% 25%, #2b0032 0, #000 25%);
    background: radial-gradient(circle at 27% 27%, #17375d 0, #000 12%);

    @include responsive(1280px) {
        font-size: 55%;
    }
}

p {
    font-size: 1.6rem;
    line-height: 165%;
    color: $gray-light;
    font-family: "Barlow", sans-serif;

    @include responsive($table-bk) {
        font-size: 1.8rem;
    }
}

button {
    cursor: pointer;
    background-color: transparent;
    border: none;
}

::selection {
    background-color: $blue-light;
    color: $white;
}

::-moz-selection {
    background-color: $blue-light;
}

.container {
    width: 100%;
    max-width: 124.6rem;
    padding: 0 1.5rem;
    margin: 0 auto;
}
