$white: #fff;
$main-color: #43bc6d;
$green: #3ca862;
$green-dark: #0f5221;
$green-dark-100: #054116;
$purple: #6264eb;
$blue: #25258d;
$blue-light: #81b9f1;
$blue-dark: #140235;
$gray: #dedede;
$gray-light: #f8f9fe;
$gray-light-02: #cbcbcb;
$gray-01: #453f51;
$gray-02: #596573;
$black: #181818;
$black-dark: #060606;

$gutter: 8px;
$border-radius: 5px;

$mobile-bk: 480px;
$table-bk: 768px;
$desktop-bk: 991px;

$font-main: "Arkhip", sans-serif;
